<div class="portfolio-item php web-development  v2" data-id="127">
  <div class="he-wrap tpl2">
    <img src="/images/artisanal_portfolio/{{ thumbnail }}" alt="">

    <div class="overlay he-view">
      <div class="bg a0" data-animate="fadeIn">
        <div class="center-bar v2">
          <a target="_blank" href="{{ url }}" class="link a0" data-animate="elasticInDown"><i
                class="moon-tablet"></i></a>

          <a href="/images/artisanal_portfolio/{{ thumbnail }}" class="lightbox a1 lightbox-gallery"
             data-animate="elasticInDown"><i class="moon-search-2"></i></a>

          <h6><a target="_blank" href="{{ url }}">{{ customer }}</a></h6>
        </div>
      </div>
    </div>
  </div>
</div>