<!DOCTYPE html>
<html lang="en-US" class="css3transitions">
<!-- Start Header -->
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="UTF-8" />
  <title>Builder Professional - Software, Websites, and Online Tools for Home Builders</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- FONT  BLOCK -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,600,300italic' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,600,700,300italic' rel='stylesheet' type='text/css' />
  <!-- FONT BLOCK -->

  <link rel="icon" type="image/png" href="images/houseicon.png" />

  <!-- CSS BLOCK -->
  <link rel='stylesheet' id='base-css'  href='/css/base.css' type='text/css' media='all' />
  <link rel='stylesheet' id='base-css'  href='/css/bootstrap3_addin.css' type='text/css' media='all' />
  <link rel='stylesheet' id='layerslider_css-css'  href='content/plugins/LayerSlider/css/layerslider.css' type='text/css' media='all' />
  <link rel='stylesheet' id='rs-settings-css'  href='content/plugins/revslider/rs-plugin/css/settings.css' type='text/css' media='all' />
  <link rel='stylesheet' id='rs-captions-css'  href='content/plugins/revslider/rs-plugin/css/captions.css' type='text/css' media='all' />
  <link rel='stylesheet' id='style-css'  href='content/style.css' type='text/css' media='all' />
  <link rel='stylesheet' id='bootstrap-responsive-css'  href='content/css/bootstrap-responsive.css' type='text/css' media='all' />
  <link rel='stylesheet' id='mediaelementplayer-css'  href='content/css/mediaelementplayer.css' type='text/css' media='all' />
  <link rel='stylesheet' id='jquery.fancybox-css'  href='content/fancybox/source/jquery.fancybox.css?v=2.1.2' type='text/css' media='all' />
  <link rel='stylesheet' id='hoverex-css'  href='content/css/hoverex-all.css' type='text/css' media='all' />
  <link rel='stylesheet' id='vector-icons-css'  href='content/css/vector-icons.css' type='text/css' media='all' />
  <link rel='stylesheet' id='jquery.easy-pie-chart-css'  href='content/css/jquery.easy-pie-chart.css' type='text/css' media='all' />
  <!-- CSS BLOCK -->

  <!-- CUSTOM JAVASCRIPTS -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/js/ourvalues.js"></script>
  <script type="text/javascript" src="/js/contact.js"></script>
  <!-- CUSTOM JAVASCRIPTS -->

  <!-- JAVASCRIPTS -->
  <script type='text/javascript' src='includes/js/jquery/jquery.js?ver=1.10.2'></script>
  <script type='text/javascript' src='includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
  <script type='text/javascript' src='content/plugins/LayerSlider/js/layerslider.kreaturamedia.jquery.js?ver=4.0.1'></script>
  <script type='text/javascript' src='content/plugins/LayerSlider/js/jquery-easing-1.3.js?ver=1.3.0'></script>
  <script type='text/javascript' src='content/plugins/LayerSlider/js/jquerytransit.js?ver=0.9.9'></script>
  <script type='text/javascript' src='content/plugins/LayerSlider/js/layerslider.transitions.js?ver=4.0.1'></script>
  <script type='text/javascript' src='content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
  <script type='text/javascript' src='content/js/jquery.easy-pie-chart.js?ver=1'></script>
  <script type='text/javascript' src='content/js/jquery.appear-1.1.1.modified.js?ver=1'></script>
  <script type='text/javascript' src='content/js/modernizr.custom.66803.js?ver=1'></script>
  <script type='text/javascript' src='content/js/animations.js?ver=1'></script>
  <script type='text/javascript' src='content/js/jquery.countdown.min.js?ver=1'></script>
  <script type='text/javascript' src='content/js/waypoints.min.js?ver=1'></script>
  <script type='text/javascript' src='content/js/bootstrap.min.js?ver=1'></script>
  <script type='text/javascript' src='content/js/jquery.easing.1.1.js?ver=1'></script>
  <script type='text/javascript' src='content/js/jquery.easing.1.3.js?ver=1'></script>
  <script type='text/javascript' src='content/js/jquery.mobilemenu.js?ver=1'></script>
  <script type='text/javascript' src='content/js/isotope.js?ver=1'></script>
  <script type='text/javascript' src='content/js/jquery.cycle.all.js?ver=1'></script>
  <script type='text/javascript' src='content/js/customSelect.jquery.min.js?ver=1'></script>
  <script type='text/javascript' src='content/js/jquery.flexslider-min.js?ver=1'></script>
  <script type='text/javascript' src='content/fancybox/source/jquery.fancybox.js?ver=1'></script>
  <script type='text/javascript' src='content/fancybox/source/helpers/jquery.fancybox-media.js?ver=1'></script>
  <script type='text/javascript' src='content/js/jquery.carouFredSel-6.1.0-packed.js?ver=1'></script>
  <script type='text/javascript' src='content/js/mediaelement-and-player.min.js?ver=1'></script>
  <script type='text/javascript' src='content/js/tooltip.js?ver=1'></script>
  <script type='text/javascript' src='content/js/jquery.hoverex.js?ver=1'></script>
  <script type='text/javascript' src='content/js/jquery.imagesloaded.min.js?ver=1'></script>
  <script type='text/javascript' src='content/js/main.js?ver=1'></script>
  <script type='text/javascript' src='content/js/jquery.placeholder.min.js?ver=1'></script>
  <script type='text/javascript' src='content/js/jquery.livequery.js?ver=1'></script>
  <!-- JAVASCRIPTS -->

  <style type="text/css" media="screen">
    .qtrans_flag span { display:none }
    .qtrans_flag { height:12px; width:18px; display:block }
    .qtrans_flag_and_text { padding-left:20px }
    .qtrans_flag_de { background:url('content/plugins/qtranslate/flags/de.png') no-repeat }
    .qtrans_flag_en { background:url('content/plugins/qtranslate/flags/gb.png') no-repeat }
    .qtrans_flag_zh { background:url('content/plugins/qtranslate/flags/cn.png') no-repeat }
  </style>
</head>
<!-- End Header -->
<body  class="home blog header_2 fullwidth_slider">
<div class="top_nav">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <div class="pull-left">
          <div id="widget_topnav-2" class="widget widget_topnav">
            &nbsp;
          </div><div id="text-5" class="widget widget_text">			<div class="textwidget">Contact us now:   Phone: +3556969696</div>
          </div>                    </div>
      </div>
      <div class="span6">
        <div class="pull-right">
          <div id="social_widget-2" class="widget social_widget">
            <div class="row-fluid social_row">
              <div class="span12">
                <ul class="header_social_media_icons">
                  <li class="linkedin"><a target="_blank" href="{{ config.linkedin }}"><span>&nbsp;</span></a></li>
                  <li class="twitter"><a target="_blank" href="{{ config.twitter }}"><span>&nbsp;</span></a></li>
                  <li class="facebook"><a target="_blank" href="{{ config.facebook }}"><span>&nbsp;</span></a></li>
                  {#<li class="youtube"><a href="#"><span>&nbsp;</span></a></li>#}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header -->
<div id="page-bg"></div>
<header id="header" class="header_2">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 logo_header_row">
        <!-- Logo -->
        <div id="logo" class="">
          <a href='index.html'><img alt="Builder Professional" src="images/bplogo.png" /></a>
          <span class="logo_desc"></span>
        </div><!-- #logo -->
        <div id="navigation" class="nav_top pull-right  ">
          <!-- Menu Section -->
          {% include "main_menu.twig" %}
        </div><!-- End Menu #navigation -->
      </div>
    </div>
  </div>
  <span class="shadow"></span>
</header>
<div class="top_wrapper">
  {% block main_content %}{% endblock %}
<a href="#" class="scrollup">Scroll</a>
<!-- Social Profiles -->
<!-- Footer -->
</div>
<div class="footer_wrapper">
  <footer id="footer">
    <div class="inner">
      <div class="container">
        <div class="row-fluid ff">
          <!-- widget -->
          <div class="span3">
            <div id="text-2" class="widget widget_text" style="padding-right: 15px">
              <div class="textwidget">
                <img alt="Builder Professional" src="/images/bplogo_white_gradient.png" style="margin-top: -15px" />
                <br /><br />
                You can count on Builder Professional putting the builder first. <a href="contact.php">Contact Us</a> with
                any questions, ideas, or concerns that you have. We want to help you be the most effective building
                business you can be.
              </div>
            </div>
          </div>
          <div class="span4">
            <div id="widget_contact_info-2" class="widget widget_contact_info">
              <h6 class="widget-title">
                <span>Contact Info</span>
              </h6>

              Give us feedback. We'd love to hear from you!</p>

              <ul>
                {% for contactMethod in config.contactMethods %}
                  <li class="{{ contactMethod.cssClass }}">{{ contactMethod.label }}<span>{{ contactMethod.value }}</span></li>
                {% endfor %}
                {#<li class="web">Web: <span><a href="/sitemap.php">BuilderProfessional.com Site Map</a></span></li>#}
              </ul>
            </div>
          </div>
          <div class="span5">
            <div class="widget ">
              <h6 class="widget-title"><span>What's Happening?</span></h6>
              <a class="twitter-timeline" data-tweet-limit="2" data-chrome="transparent noscrollbar nofooter"  href="https://twitter.com/wehelpbuilders" data-widget-id="633066756177707008">Tweets by @wehelpbuilders</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="copyright">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
              &copy; 2015 Builder Professional Technology, LLC. All Rights Reserved
              <div class="pull-right">
                <ul class="footer_social_icons">
                  <li class="linkedin"><a target="_blank" href="{{ config.linkedin }}"><span>&nbsp;</span></a></li>
                  <li class="twitter"><a target="_blank" href="{{ config.twitter }}"><span>&nbsp;</span></a></li>
                  <li class="facebook"><a target="_blank" href="{{ config.facebook }}"><span>&nbsp;</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div><!-- #copyright -->
  </footer><!-- #footer -->
</div>

</body>
</html>