<span class="col-lg-3 col-md-6 col-xs-12">
  <div class="one-staff">
    {#<img src="content/images/all/07/photodune-217509-female-customer-support-m-495x400-800x600.jpg" alt="">#}

    <div class="content ">
      <h6>{{ name }}</h6>
      <span>{{ title }}</span>

      <p>{{ description }}</p>

    </div>

    <div class="info">
      <span class="email">E:&nbsp;{{ email }}</span>
      {% if phone %}
        <span class="phone">P:&nbsp;{{ phone }}</span>
      {% endif %}
    </div>

    <div class="social">
      <ul class="social_icons">
        {% if twitter %}<a href="{{ twitter }}" title="Twitter"><li class="twitter"></li></a>{% endif %}
        {% if linkedin %}<a href="{{ linkedin }}" title="Linkedin"><li class="linkedin"></li></a>{% endif %}
      </ul>
    </div>
  </div>
</span>